body{
    width: 80%;
    margin: auto;
}

p {
    margin: 10px 0 !important;
}

.login-container{
    width: 400px;
    margin-top: 50px;
    text-align: center;
}
.fa-small{
    font-size: 16px !important;
}
#flexBtns{
    display: flex;
}
.btn-float{
    margin-right: 10px;
    width: 50px;
}
.img-small{
    width: 180px;
}
