<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">

        <%- include('./layouts/title.ejs', {title: 'Login'}) %>

		<!-- external CSS link
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css"> -->
        <!-- Compiled and minified CSS -->
	</head>
	<body>

        <%- include('./layouts/header.ejs', {headerTitle :'Login'}) %>
        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>